$main-color: #121213 ;
$heading-color: #FFFFFF;
$text-color: #D4D4D4;
$dark-grey: #484848;
$secondary-color: #7424FF;
$main-font: 'Ruda', sans-serif ;
$secondary-font: 'Sansation', 'serif';
$main-shadow: 0px 0px 20px 0px #7424FF;

body{
    background-color: $main-color;
}

.calendly-badge-widget{
    box-shadow: $main-shadow;
    border-radius: 50px;
    background-color: $main-color;
    bottom: 30px;
    right: 30px;
    .calendly-badge-content{
        content: '';
        height: 100px;
        width: 100px;
        background-color: $secondary-color;
        border-radius: 50%;
        background-image: url('/media/icons/chevron.png');
        background-size: 50px 50px;
        // background-size: auto;
        box-shadow: none;
        padding: 0;
        background-position: 26px 27px;
        background-repeat: no-repeat;
    }
    .calendly-badge-content:hover{
        transition-duration: 1.3s;
        background-color: $main-color;
    }
}
::-webkit-scrollbar-track
{
	background-color: $main-color;
}

::-webkit-scrollbar
{
	width: 7px;
}

::-webkit-scrollbar-thumb
{
	background-color:$secondary-color;
}

header{

    background-color: $main-color;
    height: 110px;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    box-shadow: $main-shadow;
    a{
        color: $heading-color;
        text-decoration: none;
        padding: 15px;
        // font-family: $main-font;
        font-family: $main-font;
        text-transform: uppercase;
        font-size: 25px;
    }
    a:hover{
        color: $secondary-color;
        transition-duration: 0.8s;
    }
}
.cover-section{
    position: relative;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(/media/cover1.png);
    display: flex;
    align-items: center;
    justify-content: center;
    .text-box{
        text-transform: uppercase;
        color: $heading-color;
        display: flex;
        align-items: center;
        flex-direction: column;
        h1{
            font-family: $secondary-font;
            font-size: 90px;
            margin: 0;
        }
        p{
            font-family: $main-font;
            font-size: 40px;
        }
    }
    .chevron{
        background-image: url('/media/icons/chevron.png');
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute;
        bottom: 100px;
        width: 50px;
        height: 50px;
    }
    .chevron:hover{
        transition-duration: 1.2s;
        bottom: 120px;
    }
}
.section-name{
    text-transform: uppercase;

    h3{
        color: $secondary-color;
        font-size: 30px;
        font-family: $main-font;
    }
    h2{
        color: $heading-color;
        font-size: 40px;
        font-family: $secondary-font;
    }
}
.section2{
    margin-top: 110px;

    .services-container{
        margin-top: 140px;
        .svc{
            margin-bottom: 90px;
            .svc-num{
                font-family: $secondary-font;
                color: $dark-grey;
                font-size: 100px;
            }
            .svc-text{
                h2{
                    color: white;
                    font-family: $main-font;
                    font-size: 30px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 40px;
                }
                p{
                    font-family: $secondary-font;
                    font-size: 25px;
                    color: $text-color;
                    line-height: 120%;
                }
            }
        }
    }
}
.section3{
    margin-top: 20px;
    margin-bottom: 110px;
    .card-section{
        margin-top: 140px;
        .info-block{
            box-shadow: $main-shadow;
            border-radius: 50px;
            padding: 70px 20px;
        }
        h2{
            margin-top: 50px;
            color: white;
            font-family: $secondary-font;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        p{
            font-family: $secondary-font;
            font-size: 25px;
            color: $text-color;
            line-height: 120%;
            text-align: center;
        } 
        .text{
            margin-top: auto;
        }
    }
}
.contact-button{
    a{
        padding: 28px 55px;
        font-size: 30px;
        font-family: $secondary-font;
        background-color: $secondary-color;
        box-shadow: $main-shadow;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
    }
    a:hover{
        transition-duration: 1.3s;
        background-color: $main-color;
    }
}
footer{
    margin-top: 110px;
    padding: 60px 0;
    box-shadow: $main-shadow;
    .logo-section{
        p{
            font-size: 20px;
            color: white;
            text-transform: uppercase;
            font-family: $main-font;
            margin-top: 20px;
        }
    }
    .adress-section{
        font-size: 20px;
        color: white;
        font-family: $main-font;
        border-right: 1px solid white;

    }
    .footer-menu{
        padding-left: 50px;
        border-right: 1px solid white;
        a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            font-family: $main-font;
            color: white;
            margin: 5px 0;
        }
        a:hover{
            color: $secondary-color;
            transition-duration: 0.8s;
        }
    }
    .icon-section{
        padding-left: 70px;
        h2{
            color: white;
            font-family: $secondary-font;
            text-transform: uppercase;
            padding-left: 20px;
            font-size: 20px;
        }
        .icon{
            margin: 0 12px;
             
        }
    }
}