body {
  background-color: #051923;
}

.close-menu {
  display: none;
}

.open-menu {
  display: none;
}

.mobile-menu {
  display: none;
}

.display-none {
  display: none !important;
}

.active-contact-btn {
  background-color: #051923 !important;
  background-image: url("../media/icons/cross.svg") !important;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
}

.contact-btn-container {
  position: fixed;
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
  border-radius: 50px;
  background-color: #051923;
  bottom: 30px;
  right: 30px;
  z-index: 20;
}

.contact-btn-container .contact-btn-content {
  content: '';
  height: 80px;
  width: 80px;
  background-color: #0582CA;
  border-radius: 50%;
  background-image: url("../media/icons/feather-alt-solid.svg");
  background-size: 35px 35px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  background-position: 23px 23px;
  background-repeat: no-repeat;
}

.contact-btn-container .contact-btn-content:hover {
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
  background-color: #051923;
}

.calendly-badge-widget {
  opacity: 0;
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
  border-radius: 50px;
  background-color: #051923;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}

.calendly-badge-widget .calendly-badge-content {
  content: '';
  height: 80px;
  width: 80px;
  background-color: #0582CA;
  border-radius: 50%;
  background-image: url("../media/icons/calendar.svg");
  background-size: 35px 35px;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 0;
  background-position: 23px 23px;
  background-repeat: no-repeat;
}

.calendly-badge-widget .calendly-badge-content:hover {
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
  background-color: #051923;
}

::-webkit-scrollbar-track {
  background-color: #051923;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #0582CA;
}

header {
  background-color: #051923;
  height: 110px;
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
}

header ul li {
  list-style: none;
}

header ul {
  margin-bottom: 0 !important;
  padding-left: 0;
}

header a {
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px;
  font-family: "Ruda", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
}

header a:hover {
  color: #0582CA;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

header .dropdown {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  left: 0;
  display: none;
}

header ul li:hover > ul,
header ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}

header .company-header-content {
  display: none;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  background-color: #051923;
  color: #FFFFFF;
}

header .company-header-content p {
  color: #D4D4D4;
}

header .company-header-content .left-side {
  padding: 100px;
  display: block;
}

header .company-header-content a {
  display: block !important;
}

.cover-section {
  position: relative;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url("../media/cover1.svg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cover-section .text-box {
  text-transform: uppercase;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cover-section .text-box h1 {
  font-family: "Sansation", "serif";
  font-size: 90px;
  margin: 0;
  padding: 0 30px;
}

.cover-section .text-box p {
  margin-top: 30px;
  font-family: "Ruda", sans-serif;
  font-size: 30px;
  padding: 0 100px;
  color: #D4D4D4;
}

.cover-section .chevron {
  background-image: url("../media/icons/chevron.svg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: 100px;
  width: 50px;
  height: 50px;
}

.cover-section .chevron:hover {
  -webkit-transition-duration: 1.2s;
          transition-duration: 1.2s;
  bottom: 120px;
}

.section-name {
  text-transform: uppercase;
}

.section-name h3 {
  color: #0582CA;
  font-size: 30px;
  font-family: "Ruda", sans-serif;
}

.section-name h2 {
  color: #FFFFFF;
  font-size: 40px;
  font-family: "Sansation", "serif";
}

.section2 {
  margin-top: 110px;
}

.section2 .services-container {
  margin-top: 140px;
}

.section2 .services-container .svc {
  margin-bottom: 90px;
}

.section2 .services-container .svc .svc-num {
  font-family: "Sansation", "serif";
  color: #006494;
  font-size: 100px;
}

.section2 .services-container .svc .svc-text h2 {
  color: #FFFFFF;
  font-family: "Ruda", sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.section2 .services-container .svc .svc-text p {
  font-family: "Sansation", "serif";
  font-size: 25px;
  color: #D4D4D4;
  line-height: 120%;
}

.section2 .services-container .svc .svc-text li {
  list-style: square;
  font-family: "Sansation", "serif";
  font-size: 25px;
  color: #D4D4D4;
  line-height: 150%;
  margin-top: 15px;
}

.section3 {
  margin-top: 110px;
  margin-bottom: 110px;
}

.section3 .card-section {
  margin-top: 140px;
}

.section3 .card-section .info-block {
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
  border-radius: 50px;
  padding: 70px 20px;
}

.section3 .card-section h2 {
  margin-top: 50px;
  color: #FFFFFF;
  font-family: "Sansation", "serif";
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.section3 .card-section p {
  font-family: "Sansation", "serif";
  font-size: 25px;
  color: #D4D4D4;
  line-height: 120%;
  text-align: center;
}

.section3 .card-section .text {
  margin-top: auto;
}

.plain-paragraph-section {
  margin-top: 110px;
}

.plain-paragraph-section .section-name {
  padding: 30px;
}

.plain-paragraph-section .plain-paragraph {
  color: #D4D4D4;
  font-size: 25px;
  font-family: "Ruda", sans-serif;
}

.big-icon-section {
  margin-top: 110px;
}

.big-icon-section h2 {
  margin-top: 35px;
  color: #FFFFFF;
  font-size: 30px;
  font-family: "Sansation", "serif";
  font-weight: bold;
}

.plain-paragraph-lighted-section {
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
  padding: 40px 70px;
  margin: 110px auto;
}

.plain-paragraph-lighted-section p {
  padding-top: 30px;
  color: #D4D4D4;
  font-size: 25px;
  font-family: "Ruda", sans-serif;
}

.contact-form {
  margin-top: 110px;
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
  border-radius: 50px;
  padding: 70px;
  width: 75%;
}

.contact-form input {
  background-color: #051923;
  color: #FFFFFF;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
  border-radius: 50px;
  padding: 30px;
  margin: 20px;
  width: 90%;
  color: #FFFFFF;
  font-family: "Ruda", sans-serif;
  font-size: 25px;
}

.contact-form input:focus, .contact-form textarea:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0px 0px 20px 0px #6226c9;
          box-shadow: 0px 0px 20px 0px #6226c9;
}

.contact-form ::-webkit-input-placeholder {
  color: #FFFFFF;
  font-family: "Ruda", sans-serif;
  font-size: 25px;
}

.contact-form textarea {
  background-color: #051923;
  color: #FFFFFF;
  border: none;
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
  border-radius: 50px;
  padding: 30px;
  margin: 20px;
  width: 100%;
  color: #FFFFFF;
  font-family: "Ruda", sans-serif;
  font-size: 25px;
}

.contact-form .section-name {
  margin-bottom: 50px;
}

.contact-form button {
  padding: 30px 50px;
  margin-top: 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  font-size: 30px;
  font-family: "Sansation", "serif";
  background-color: #0582CA;
  color: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
}

.contact-form button:hover {
  background-color: #051923;
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
}

.contact-button a {
  padding: 28px 55px;
  font-size: 30px;
  font-family: "Sansation", "serif";
  background-color: #0582CA;
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
  border-radius: 50px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

.contact-button a:hover {
  -webkit-transition-duration: 1.3s;
          transition-duration: 1.3s;
  background-color: #051923;
}

.location-block .contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.location-block p {
  color: #D4D4D4;
  font-size: 25px;
  font-family: "Ruda", sans-serif;
}

.location-block .icon-section {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

.location-block .icon-section h2 {
  color: #FFFFFF;
  font-family: "Sansation", "serif";
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 20px;
}

.location-block .icon-section .icon i {
  font-size: 30px;
  color: #FFFFFF;
  padding: 0 12px;
}

.location-block .icon-section .icon i:hover {
  color: #0582CA;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.location-block .map-box {
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
  border-radius: 50px;
}

.location-block .map-box .map {
  border-radius: 50px;
}

.tech-section {
  margin-top: 110px;
}

.tech-section .tech-name {
  padding: 50px;
}

.tech-section .tech-name h2 {
  font-size: 1.4rem;
}

.tech-section img {
  padding: 25px 0;
}

footer {
  margin-top: 110px;
  padding: 60px 0;
  -webkit-box-shadow: 0px 0px 10px 0px #0582CA;
          box-shadow: 0px 0px 10px 0px #0582CA;
}

footer .logo-section p {
  font-size: 20px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Ruda", sans-serif;
  margin-top: 20px;
}

footer .adress-section {
  font-size: 20px;
  color: #FFFFFF;
  font-family: "Ruda", sans-serif;
  border-right: 1px solid #FFFFFF;
}

footer .footer-menu {
  padding-left: 50px;
  border-right: 1px solid #FFFFFF;
}

footer .footer-menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Ruda", sans-serif;
  color: #FFFFFF;
  margin: 5px 0;
}

footer .footer-menu a:hover {
  color: #0582CA;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

footer .icon-section {
  padding-left: 70px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .icon-section h2 {
  color: #FFFFFF;
  font-family: "Sansation", "serif";
  text-transform: uppercase;
  padding-left: 10px;
  font-size: 20px;
}

footer .icon-section .icon i {
  font-size: 30px;
  color: #FFFFFF;
  padding: 0 12px;
}

footer .icon-section .icon i:hover {
  color: #0582CA;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}
/*# sourceMappingURL=style.css.map */